.divExchangedSuccessText {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.tokenTableSubheader {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0px;
}

.tokenTable {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-self: center;
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
  margin: 10px 0;
}

.tokenSubheaderText {
  margin: 0;
  padding: 0;
  color: rgb(131, 131, 131);
  letter-spacing: -0.3;
  font-weight: bold;
  font-size: 18px;
}

.tokenMain {
  display: flex;
  flex-direction: row;
  justify-self: left;
  align-items: center;
  margin: 5px 3px 0px 3px;
}

.tokenMainIcon {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin: 0px 3px 0px 0px;
}

.tokenMenuText {
  display: flex;
  flex-direction: column;
  justify-items: left;
  align-items: left;
  margin-left: 15px;
}

.tokenIcon {
  width: 30px;
  margin-right: "0px";
}

.USDValueText {
  margin: 0 13px 0 13px;
  font-weight: bold;
  font-size: 20px;
  color: #757575;
}

.tokenNameText {
  margin: 0;
  padding: 0;
  color: #5c5c5c;
  letter-spacing: -0.3;
  font-size: 12px;
  font-weight: bold;
}

.tokenHeaderText {
  font-weight: bold;
  font-size: 15px;
}

.tokenAmountValue {
  margin: 0;
  font-size: large;
  border: 2px solid rgb(153, 153, 153);
  border-radius: 4px;
  justify-items: center;
  align-self: self-start;
  white-space: nowrap;
  overflow-x: auto;
}

.tokenAmountValueText {
  padding-left: 5px;
  margin: 0;
  width: 400px;
  text-align: left;
  overflow-x: auto;
  font-weight: bold;
  color: #868686;
}

.swap-button {
  transition: background-color 0.3s ease;
}

.encapsulating-div {
  border-radius: 15px;
}

.gap {
  border-bottom: 1.5px solid #aeaeae;
  width: 100%;
}
