.main {
  max-height: 500px;
  max-width: 730px;
  height: 220px;
  width: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px 0 20px 0;
  border-radius: 15px;
  background-color: rgb(62, 66, 95);
}

.swap-interface {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  width: 700px;
  margin: 10px 0 10px 0;
}

.swap-button {
  justify-self: center;
}
